Repository portfolio-insights/portfolio-insights-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint, npm run format, backend/.venv/bin/black, go fmt

.lintstagedrc:

{
  "**/*.{js,jsx}": [
    "cd frontend && npm run lint",
    "npm run format"
  ],
  "**/*.{html,css,json,md,yaml,toml}": "npm run format",
  "**/*.py": "backend/.venv/bin/black",
  "**/*.go": "go fmt"
}

refactor: refactor /stocks GET endpoint to connect to Go API
  backend/server.py
Due: backend/.venv/bin/black

refactor: refactor deep health check endpoint to connect to Go microservice instead of market.py
  backend/server.py
Due: backend/.venv/bin/black

refactor(py): refactor /check-alert GET endpoint to hit Go microservice
  backend/server.py
Due: backend/.venv/bin/black

chore: add microservice deployment to backend deployment GitHub workflow
  .github/workflows/backend.yaml
Due: npm run format

docs: add comments to backend deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

chore(py): add missing type hints
  backend/alerts.py
  backend/database.py
  backend/server.py
Due: backend/.venv/bin/black

fix: implement Tiingo API key retrieval in Go microservice deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

fix: fix typo in backend deployment workflow for proper microservice deployment
  .github/workflows/backend.yaml
Due: npm run format

chore: make Dockerfile more robust
  backend/Dockerfile
Due: none

refactor(py): move Alert pydantic model to new schemas.py file
  backend/alerts.py
  backend/schemas.py
  backend/server.py
Due: backend/.venv/bin/black

fix: fix backend deployment workflow to use updated backend port
  .github/workflows/backend.yaml
Due: npm run format

docs: add comment to indicate need for NGINX config alignment with exposed port
  backend/Dockerfile
Due: none

fix: correct Docker container FastAPI server start command
  backend/Dockerfile
Due: none

chore: move files out of backend subdirectory into new repo root
  .dockerignore
  Dockerfile
  alerts.py
  database.py
  pyproject.toml
  requirements.txt
  schemas.py
  server.py
  utils/logging.py
Due: npm run format, backend/.venv/bin/black

chore: remove unnecessary entries
  .gitignore
Due: none

chore: remove non-backend configurations from lint-staged
  .lintstagedrc
Due: none

chore: run npm install
  package-lock.json
Due: npm run format

chore: add node_modules to .gitignore
  .gitignore
Due: none

chore: update deployment workflow to solely deploy backend
  .github/workflows/backend.yaml
Due: npm run format

chore: create .env.example
  .env.example
Due: none
